<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{font-family: "Syne";};
        .otp
        {
          font-family:'Courier New', Courier, monospace
        }
        @layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } 
}


    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body class="bg-gray-100 flex justify-center items-center h-screen"></body>
    <!-- component -->
    <div class="flex justify-center items-center w-3/4 overflow-hidden h-5/6">
      <!-- Left: Image -->
      <div class="w-2/6 hidden lg:block lg:h-full rounded-lg bg-gradient-to-b from-orange-500 to-orange-800">
        <img
          src="/admin_bg.png"
          alt="Placeholder Image"
          class="object-cover h-3/4 rounded-lg mt-24"
        />
      </div>