<%- include('layout/header') %>
    <!-- Right: Login Form -->

    <div
        class="bg-gray-200 shadow-lg  text-center lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2 lg:h-full rounded-lg -ml-10">
        <h1 class="text-2xl font-bold mb-4">Create New Password</h1>
        <form action="/password_update" method="post">
            <div class="mb-4 justify-CE relative mt-8">
                <label for="password"
                    class="block absolute -top-2.5 left-4 bg-gray-200 text-gray-700 text-sm res-text-xs">Password</label>
                <input type="password" id="password" name="password"
                    class="w-full px-4 py-2 border rounded-lg border-gray-700 bg-gray-200 focus:outline-none focus:border-orange-500 res-text-xs"
                    placeholder="Password" />

                <div><span class="text-sm res-text-xs" id="passwordError"></span></div>
            </div>

            <div class="mb-4 justify-CE relative mt-8">
                <label for="conformPassword"
                    class="block absolute -top-2.5 left-4 bg-gray-200 text-gray-700 text-sm res-text-xs">Confirm
                    Password</label>
                <input type="password" id="confirmPassword" name="conform_password"
                    class="w-full px-4 py-2 border rounded-lg border-gray-700 bg-gray-200 focus:outline-none focus:border-orange-500 res-text-xs"
                    placeholder="Confirm Password" />
                <div><span class="text-sm res-text-xs" id="confirmPasswordError"></span></div>
            </div>
            <button class="bg-orange-600 text-white font-bold py-2 w-full rounded-md hover:bg-orange-700">Create
                password</button>
        </form>
    </div>
    </div>
    </body>
    <script>
         document.addEventListener('DOMContentLoaded', () => {

const passwordInput = document.getElementById('password');
const confirmPasswordInput = document.getElementById("confirmPassword");
const passwordError = document.getElementById('passwordError');
const confirmPasswordError = document.getElementById("confirmPasswordError");

  function showMessage(element, message, isValid) {
    element.textContent = message;
    element.style.color = isValid ? 'green' : 'red';
  }




function validatePassword() {
  const password = passwordInput.value.trim();
  if (password.length >= 6) {
    showMessage(passwordError, 'Valid password', true);
  } else {
    showMessage(passwordError, 'Password must be at least 6 characters', false);
  }
}

function validateConfirmPassword() {
  const confirmPassword = confirmPasswordInput.value.trim();
  if (confirmPassword === passwordInput.value) {
    showMessage(confirmPasswordError, "Valid confirm password", true);
  } else {
    showMessage(confirmPasswordError, "Password and Confirm Password must be equal", false)
  }
}



passwordInput.addEventListener('keyup', validatePassword);
confirmPasswordInput.addEventListener("keyup", validateConfirmPassword);
});
    </script>
    <script>
      document.getElementById('searchButton').addEventListener('click',(event)=>{
          event.preventDefault();
          window.location.href='/allProduct'
      })
  </script>

    </html>