<%- include('layout/page_header') %>
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white shadow-md rounded-lg p-8 max-w-md text-center">
      <h2 class="text-gray-700 font-semibold text-lg">YOUR ORDER HAS BEEN PLACED SUCCESSFULLY</h2>
      
      <p class="text-green-600 mt-4">
        You will get a confirmation email soon. The rest of your items are now ready to check out.
      </p>
      
      <button onclick="window.location.href = '/';" class="mt-6 bg-orange-600 text-white font-semibold py-2 px-6 rounded hover:bg-orange-700">
        Continue shopping
      </button>
    </div>
  </div>
<%- include('layout/footer') %>