<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{font-family: "Syne";};
        .otp
        {
          font-family:'Courier New', Courier, monospace
        }
        /* .dropdiv:hover + .drop{
      display: flex;
    } */
       .drop
       {
        display: flex;
       }
            
        @layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

    </style>
    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  </head>
  <body class="bg-gray-100">
    <!-- Navigation Bar -->
    <nav class="bg-gray-200 shadow">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center py-4 flex-col md:flex-row">

                <!-- Logo and Brand Name -->
                <div class="flex items-center mb-4 md:mb-0">
                    <img src="/site_logo.webp" alt="Protein Hub Logo" class="h-10 rounded-2xl mr-3" />
                    <div class="text-2xl font-bold text-gray-800">Protein Hub</div>
                </div>

                <!-- Search Bar -->
                <div class="flex items-center w-full max-w-md mb-4 md:mb-0">
                    <input type="text" class="border border-gray-300 rounded-l-xl p-2 w-full focus:outline-none"
                        placeholder="Type a product name">
                    <button 
                        class="bg-orange-600 text-white px-4 py-2 rounded-r-xl hover:bg-orange-700">Search</button>
                </div>

                <!-- Icons and Login Button -->
                <div class="flex items-center space-x-6"> 
                    <i class="fa-solid fa-heart text-3xl text-gray-600 hover:text-orange-600"></i>
                    <i class="fa-solid fa-cart-shopping text-3xl text-gray-600 hover:text-orange-600"></i>
                    <i class="fa-solid fa-wallet text-3xl text-gray-600 hover:text-orange-600"></i>
                    <button onclick="window.location.href='/login'"  class="bg-orange-600 text-white px-4 py-2 rounded-xl hover:bg-orange-700">Login/Sign
                        Up</button>
                </div>
            </div>
        </div>
    </nav>
  